*{
    margin: 0;
    padding: 0;

}


/* navber */
/* hero section */

.hero{
    height: 500px;
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
}

.navbar{
    height: 50px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

/* banner section */
.bar{
    height: 250px;
    width: 65%;
    text-align: center;
    margin:120px auto;
    color: #4E47FF;
}

.bar h1{
    color: #252432;
    margin-bottom: 50px;
    font-size: 65px;
    font-weight: bold;
    
}



/* shear style */
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
     background-color: #4E47FF;
}

/* action */
.actions{
    width: 85%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.action-1{
    height: 170px;
    width: 450px;
}

.action-2 img{
    width: 350px;
    height: 300px;
    border-radius: 40px;
}

.sub-title{
    color: rgba(37,36,50,0.5);
    font-size: 20px;
    margin: 12px 0;
}
