*{
    margin: 0;
    padding: 0;

}


/* navber */
/* hero section */

.hero{
    height: 500px;
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
}

.navbar{
    height: 50px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

/* banner section */
.bar{
    height: 250px;
    width: 65%;
    text-align: center;
    margin:120px auto;
    color: #4E47FF;
}

.bar h1{
    color: #252432;
    margin-bottom: 50px;
    font-size: 65px;
    font-weight: bold;
    
}



/* shear style */
.btn-primary{
    color: #FFFFFF;
    font-weight: 600;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
     background-color: #4E47FF;
}

/* action */
.actions{
    width: 85%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.act{
    height: 170px;
    width: 450px;
}

.action img{
    width: 350px;
    height: 300px;
    border-radius: 40px;
}

.sub-title{
    color: rgba(37,36,50,0.5);
    font-size: 20px;
    margin: 12px 0;
}

/* Productive Users Section */
.users-section{
    width: 65%;
    margin: 100px auto;
    text-align: center;
    background-color: rgba(78,71,255,0.1);
    border-radius: 15px;
    
}

.users h1{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.users p{
    color: rgba(0,0,0,0.5);
    font-size: 18px;
}

.users-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}


/* Feedback Section */

.feedback-section{
    width: 85%;
    margin: auto;
    text-align: center;
}
.feedback-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.feedback{
    border-radius: 10px;
    background-color: #F2EDED;
    padding: 20px 20px;
    text-align: left;
}
.feedback h3{
    color: #252432;
    font-size: 20px;
}
.feedback p{
    font-size: 14px;
    padding: 10px 0 ;
    color: rgba(0,0,0,0.5);
}
.reviewer-nam{
    color:rgba(0,0,0,0.5) ;
}
.reviewer-nam p{
    padding: 0%;
}

.reviewer-container{
    display: flex;
    gap: 20px;
}


 /* Reade section  */
.ready{
    width: 65%;
    margin: 100px auto;
    text-align: center;
}

.ready img{
    margin: 30px 0;
    border-radius: 15px;
}


.ready button{
    margin: 10px 0;
}

.ready h2{
    margin-bottom: 15px;
}
